<p-card class="p-shadow-10">
    <div class="p-fluid" *ngIf="product">
        <h2 *ngIf="product.id > 0">
            {{product.id}}: {{product.name | uppercase}}
        </h2>
        <div class="p-field">
            <label for="in_name">Name</label>
            <input id="in_name" type="text" [(ngModel)]="product.name" pInputText>
        </div>

        <div class="p-field">
            <label for="in_ref">Ref</label>
            <input id="in_ref" type="text" [(ngModel)]="product.ref" pInputText>
        </div>

        <div class="p-field">
            <label for="in_description">Description</label>
            <input id="in_description" type="text" [(ngModel)]="product.description" pInputText>
        </div>

        <div *ngFor="let collection of collections" class="p-field-checkbox">
            <p-checkbox name="group2" 
                value="collection.id" [value]="collection.id"  
                [(ngModel)]="product.collections" 
                [inputId]="collection.id"></p-checkbox>
            <label [for]="collection.id">{{collection.name}}</label>
        </div>

        <div class="p-field">
            <label for="in_unit_price">Price</label>
            <input id="in_unit_price" type="text" [(ngModel)]="product.unitPrice" pInputText>
        </div>

        <div *ngIf="imagesInfo.length > 0">
            <p-dataView #dv [value]="imagesInfo" [paginator]="true" [rows]="9" layout="grid">
                <ng-template let-image pTemplate="gridItem">
                    <div class="p-col-12 p-md-4">
                        <p-card [style]="{'margin': '.5em'}">
                            <img src="{{baseImageUrl}}/{{image.imageId}}" [ngStyle]="{'max-width': '30em', 'height': '20em'}">
                        </p-card>
                    </div>
                </ng-template>
            </p-dataView>
        </div>

        <p-fileUpload name="uploadedFile" url="{{uploadPath}}" multiple="multiple" accept="image/*">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>

        <button type="button" pButton label="Save" (click)="onSave()"></button>
    </div>
</p-card>

<div>
    <ul>
        <li *ngFor="let collection of collections">
            {{collection.id}} - {{collection.name}}
        </li>
    </ul>
</div>