<p-dataView class="dataview-grey" #dv [value]="products" [paginator]="true" [rows]="9" layout="grid">
  <ng-template let-product pTemplate="gridItem">
    <div class="p-col-12 p-md-4" class="product-grid-item">

      <p-card class="p-shadow-4" routerLink="/detail/{{ product.id }}">
        <p-header>
          <div class="p-flex-colum p-jc-center product-grid-item-header">
            <div class="p-d-flex p-jc-between">
              <div class="p-d-flex">
                <i class="pi pi-tag"></i>
                <p class="p-ml-2">Cabazes</p>
              </div>
              <p>In Stock</p>
            </div>
            <img *ngIf="product.imagesId && product.imagesId.length> 0" src="{{imageBaseUrl}}/{{product.imagesId[0]}}">
          </div>
          </p-header>
        <div class="product-card-content-grid">
          <h3>{{product.name}}</h3>
          <p> <b>€ {{ product.unitPrice }}</b></p>  
        </div>
          
      </p-card>

    </div>
  </ng-template>
</p-dataView>

