.product-grid-item {
    margin: .5em;
    width: 25%;
}

.product-grid-item p {
    margin-top: 1px;
}

.product-grid-item .product-card-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-grid-item-header {
    padding: 2rem;
    text-align: center;
}

.product-grid-item .product-card-content-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-grid-item img {
    border-radius: 3px;
    width: 75%;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.dataview-grey {
    background-color: grey;
}